#vorlage-aufgaben-liste{
  background: white;
  font-family: 'Handlee', cursive;
  padding: 5px;
}

#aufgabenliste{
  list-style-type: none;
  padding: 0;
}

#aufgaben-liste-kopf{
  margin: 10px;
  overflow: hidden;
  padding: 4px;
}

#aufgaben-liste-kopf p{
  float: left;
  margin: 0;
  font-family: 'Handlee', cursive;
  font-size: 15pt;
  padding-right: 8em;
}

#aufgaben-liste-kopf input, #aufgaben-liste-kopf button{
  margin: 0;
  border-width:2px;
  border-color: #0B0B3B;
}

#aufgaben-liste-kopf button{
  border-radius: 5px;
  padding-left: 5px;
  float: right;
}

#filterbar{
  padding-top: 10px;
  margin-top: 10px;
  font-family: 'Handlee', cursive;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

#sortButton{
  padding: 7px;
  margin-left: 4em;
  font-family: 'Handlee', cursive;
}

.todobox {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

.todoheader {
  list-style-type: none;
  overflow: hidden;
  padding: 4px;
  margin: 0;
}

.todoheader li {
  float: left;
  margin-left: 0px;
  margin-right: 4px;
}

.todofooter {
  border: none;
  list-style-type: none;
  overflow: hidden;
  padding: 4px;
  margin: 0;
}

.close {
  float: right;
  padding-left: 4px;
  padding-right: 4px;
}

.close:hover {
  background-color: #f34435;
  color: white;
}

@media screen and (max-width: 800px){
  .thumbnail{
    width: 47.5%;
  }
  html {
    background-image: url(tafelHandy.jpg);
  }
  #aufgaben-liste-kopf p{
    padding-right: 1.7em;
  }
}

@media screen and (max-width: 600px){
  .thumbnail{
    width: 31%;
  }
  #aufgaben-liste-kopf input{
    float: left;
    width: 40%;
  }
  #aufgaben-liste-kopf button{
    float: right;
  }
  #aufgaben-liste-kopf p{
    padding-bottom: 10px;
    padding-left: 2.8em;
  }
}
