/**
 * Stylesheet zur Klasse PaeeEdit: Adresse anlegen/ändern
 *
 * Hier wird das Aussehen der Seite mit dem Eingabeformular definiert. Da
 * sich die CSS-Regeln allerdings global auf die ganz Anwendung auswirken,
 * steht vor jeder Regel #main-page-edit, damit nur der Inhalt in diesem
 * Element gestyled wird.
 *
 * Die längste Zeit war dies die einzige Möglichkeit, CSS-Regeln auf einzelne
 * Teile einer Seite zu beschränken. Sobald sich die "Shadow DOM"-Spezifikation
 * stabilisiert, wird es hier in Zusammenhang mit JavaScript weitere, elegantere
 * Möglichkeiten geben.
 */

 /* FORMULARFELDER */
 #main-aufgabe-bearbeiten{
   background-color: white;
   padding: 1em;
   font-family: 'Handlee', cursive;
 }

 #main-aufgabe-bearbeiten .aufgabe  {
   display: block;
   width: 100%;
   font-family: 'Handlee', cursive;
   border: 0px solid lightgrey;
   border-bottom-width: 1px;
   padding: 0.5em 0 0.5em 0;
   margin-bottom: 1em;
 }

 #main-aufgabe-bearbeiten .beschreibung {
   display: block;
   width: 100%;
   border: 0px solid lightgrey;
   border-bottom-width: 1px;
   font-family: 'Handlee', cursive;
   padding: 0.5em 0 0.5em 0;
   margin-bottom: 1em;
}

 #main-aufgabe-bearbeiten .zustaendig  {
   display: block;
   width: 100%;
   font-family: 'Handlee', cursive;
   border: 0px solid lightgrey;
   border-bottom-width: 1px;
   padding: 0.5em 0 0.5em 0;
   margin-bottom: 1em;
 }

 #main-aufgabe-bearbeiten .dringlichkeit  {
   display: block;
   width: 100%;
   border: 0px solid lightgrey;
   border-bottom-width: 1px;
   font-family: 'Handlee', cursive;
   padding: 0.5em 0 0.5em 0;
   margin-bottom: 1em;
  }

 #main-aufgabe-bearbeiten .datum  {
   display: block;
   width: 100%;
   color: gray;
   border: 0px solid lightgrey;
   border-bottom-width: 1px;
   font-family: 'Handlee', cursive;
   padding: 0.5em 0 0.5em 0;
   margin-bottom: 1em;
  }

 /* AKTIONSBUTTONS */
 #main-aufgabe-bearbeiten .actions {
   display: flex;
   justify-content: space-between;
 }

 #main-aufgabe-bearbeiten .actions > div {
   padding: 0.5em;
   margin: 0.5em;
   background-color: #e0e0e0;
   transition: background-color 0.5s;
   flex: 1;
   text-align: center;
 }

 #main-aufgabe-bearbeiten .actions > div:first-child {
   margin-left: 0;
 }

 #main-aufgabe-bearbeiten .actions > div:last-child {
   margin-right: 0;
 }

 #main-aufgabe-bearbeiten .actions > div:hover {
   background-color: #f0f0f0;
   cursor: pointer;
 }
