html, body {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 10pt;
  line-height: 1.6;
  background-image: url(tafel10.jpg);
}

html {
  font-size: 11pt;
}

main {
  max-width: 40em;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid black;
  border-radius: 5px;
}

/** Navigationsleiste **/
header ul {
  background-color: #0B0B3B;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: 'Handlee', cursive;
  font-size: 18px;
}

header ul li {
  float: left;
}

header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header ul li a:hover {
  background-color: black;
}

.active {
  background-color: green;
}

.hidden {
  display: none;
}
