html, body {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 11pt;
  line-height: 1.6;
  background-image: url(tafel10.jpg);
}

main {
  max-width: 50em;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid black;
  border-radius: 5px;
}

/** Navigationsleiste **/
header ul {
  background-color: #0B0B3B;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: 'Handlee', cursive;
  font-size: 18px;
}

header ul li {
  float: left;
}

header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header ul li a:hover {
  background-color: black;
}

.active {
  background-color: green;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px){
  .thumbnail{
    width: 47.5%;
  }
  main {
    max-width: 40em;
  }
  html {
    background-image: url(tafelHandy.jpg);
  }
}

@media screen and (max-width: 600px){
  .thumbnail{
    width: 31%;
  }
  header ul{
    font-size: 14px;
  }
  main {
      max-width: 23em;
  }
}
