#vorlage-einkaufsliste{
  background-color: white;
  padding: 5px;
}

#vorlage-einkaufsliste li {
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 1em;
  font-family: 'Handlee', cursive;
  padding: 8px 6px 8px 30px;
  background:#819FF7;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;
}

#vorlage-einkaufsliste li:hover {
  background: #9F81F7;
}

#titel{
  font-family: 'Handlee', cursive;
  font-size: 15pt;
  margin-left:20px;
}

#myInput {
  margin-bottom: 1em;
  margin-left: 2em;
  font-size: 16px;
  width: 70%;
  border-top:0px;
  border-left:0px;
  border-right:0px ;
  font-family: 'Handlee', cursive;
}

/* Style the "Add" button */
.addBtn {
  flex-direction:row;
  font-size: 25px;
  text-align: center;
  border-radius:100px;
  margin-left: 20px;
  font-weight:bold;
  width:40px;
  height:40px;
  color:white;
  background-color: rgb(44,108,128) ;
}

.addBtn:hover {
  background-color: #bbb;
}

.checkbox{
  float: left;
   left: 0px;
}

.remove {
  float: right;
  sizing:30px;
}

.remove:hover {
  background-color: #9F81F7;
  size: 60px;
  color: #f44336;
}

input[type="checkbox"]{
  height:17px;
  width:17px;
  outline:none;
  -webkit-appearance:none;
}

input[type="checkbox"]:before{
  content:' ';
  position:absolute ;
  width:16px;
  height :16px;
  border:2px solid green;
  border-radius:29px;
  border-sizing:border-box;
  transition:.4s;
}

input:checked[type="checkbox"]:before{
  border-top:0px;
  border-left:0px;
  border-right:3px solid #fff;
  border-bottom:3px solid #fff;
  width:12px;
  border-radius:2px;
  transform:rotate(410deg);
}

@media screen and (max-width: 600px){
  .thumbnail{
    width: 31%;
  }
  #titel{
    padding-bottom: 10px;
    padding-left: 3.6em;
  }
}
