html {
  font-family: Verdana;
  color: white;
}

body{
  background-image:url(hintergrund.jpg);
  margin-right: 500pt;
  margin-top: 20pt;
}

h1{
  color: white;
  margin-top: 10pt;
  font-size: 30pt;
}

form{
  margin-left: 20pt;
  font-size: 16pt;
  line-height: 2.4em;
}

input{
  font-size: 16pt;
}

#rb{
  cursor: pointer;
}

#erld{
  font-family: Verdana;
  font-size: 16pt;
  font-weight: normal;
}

button{
  color: black;
  background-color: #A9F5A9;
  border-radius: 4px;
  font-size: 16pt;

}
