header ul {
  background-color: #394433;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

header ul li {
  float: left;
}

header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header ul li a:hover {
  background-color: black;
}

.todobox {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

.todoheader {
  border-bottom: 1px solid black;
  list-style-type: none;
  overflow: hidden;
  padding: 4px;
  margin: 0;
}

.todoheader li {
  float: left;
  margin-left: 0px;
  margin-right: 4px;
}

.todofooter {
  border: none;
  list-style-type: none;
  overflow: hidden;
  padding: 4px;
  margin: 0;
}

.close {
  float: right;
  padding-left: 4px;
  padding-right: 4px;
}

.close:hover {
  background-color: #f34435;
  color: white;
}

.active {
  background-color: green;
}
